In [32]:
# import packages
import numpy as np
import pandas as pd

In [33]:
weather = pd.read_csv('weather_data_1950-2018.csv',encoding='GBK')
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24836 entries, 0 to 24835
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   气象站     24836 non-null  object
 1   名称      24836 non-null  object
 2   日期      24836 non-null  object
 3   降雨量     12325 non-null  float64
 4   降雪量     24834 non-null  float64
 5   最高气温    22306 non-null  float64
 6   最低气温    24826 non-null  float64
 7   雾       24825 non-null  float64
 8   大雾      8494 non-null   float64
 9   雷电      3384 non-null   float64
 10  冰丸      895 non-null    float64
 11  冰雹      370 non-null    float64
 12  薄冰      404 non-null    float64
 13  尘雾      727 non-null    float64
 14  烟雾      46 non-null     float64
 15  风       3260 non-null   float64
 16  大风      381 non-null    float64
 17  薄雾      13 non-null     object
 18  毛毛雨     2563 non-null   float64
 19  冻雨      594 non-null    float64
 20  雨       103 non-null    float64
 21  结冰      7252 non-null   float64
 22  下雪      285 non-null    float64
 23  冰雾      3081 non-null   float64
dtypes: float64(20), object(4)
memory usage: 4.5+ MB

## 检查数据

In [34]:
# 把日期标在索引上
weather.set_index('日期', inplace=True)
weather.index = pd.to_datetime(weather.index)
weather.head()

,气象站,名称,降雨量,降雪量,最高气温,最低气温,雾,大雾,雷电,冰丸,...,烟雾,风,大风,薄雾,毛毛雨,冻雨,雨,结冰,下雪,冰雾
日期,,,,,,,,,,,,,,,,,,,,,
1950-01-01,USW00094746,"WORCESTER, MA US",NaN,0.00,0.0,40.0,27.0,NaN,NaN,NaN,...,NaN,1.0,NaN,,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-02,USW00094746,"WORCESTER, MA US",NaN,0.04,0.0,37.0,28.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-03,USW00094746,"WORCESTER, MA US",NaN,0.27,0.0,51.0,35.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-04,USW00094746,"WORCESTER, MA US",NaN,0.00,0.0,60.0,50.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-05,USW00094746,"WORCESTER, MA US",NaN,0.03,0.0,58.0,41.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [35]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24836 entries, 1950-01-01 to 2018-01-01
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   气象站     24836 non-null  object
 1   名称      24836 non-null  object
 2   降雨量     12325 non-null  float64
 3   降雪量     24834 non-null  float64
 4   最高气温    22306 non-null  float64
 5   最低气温    24826 non-null  float64
 6   雾       24825 non-null  float64
 7   大雾      8494 non-null   float64
 8   雷电      3384 non-null   float64
 9   冰丸      895 non-null    float64
 10  冰雹      370 non-null    float64
 11  薄冰      404 non-null    float64
 12  尘雾      727 non-null    float64
 13  烟雾      46 non-null     float64
 14  风       3260 non-null   float64
 15  大风      381 non-null    float64
 16  薄雾      13 non-null     object
 17  毛毛雨     2563 non-null   float64
 18  冻雨      594 non-null    float64
 19  雨       103 non-null    float64
 20  结冰      7252 non-null   float64
 21  下雪      285 non-null    float64
 22  冰雾      3081 non-null   float64
dtypes: float64(20), object(3)
memory usage: 4.5+ MB

## 检查缺失数据

In [36]:
weather.isnull().sum()

气象站         0
名称          0
降雨量     12511
降雪量         2
最高气温     2530
最低气温       10
雾          11
大雾      16342
雷电      21452
冰丸      23941
冰雹      24466
薄冰      24432
尘雾      24109
烟雾      24790
风       21576
大风      24455
薄雾      24823
毛毛雨     22273
冻雨      24242
雨       24733
结冰      17584
下雪      24551
冰雾      21755
dtype: int64

## 删除数据缺失太多的行

In [37]:
dropThis = pd.date_range('1978-04-01','1984-01-01')
weather = weather[~weather.index.isin(dropThis)]
weather.dropna(subset = ['降雪量','最高气温','最低气温'])

,气象站,名称,降雨量,降雪量,最高气温,最低气温,雾,大雾,雷电,冰丸,...,烟雾,风,大风,薄雾,毛毛雨,冻雨,雨,结冰,下雪,冰雾
日期,,,,,,,,,,,,,,,,,,,,,
1950-01-01,USW00094746,"WORCESTER, MA US",NaN,0.00,0.0,40.0,27.0,NaN,NaN,NaN,...,NaN,1.0,NaN,,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-02,USW00094746,"WORCESTER, MA US",NaN,0.04,0.0,37.0,28.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-03,USW00094746,"WORCESTER, MA US",NaN,0.27,0.0,51.0,35.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-04,USW00094746,"WORCESTER, MA US",NaN,0.00,0.0,60.0,50.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1950-01-05,USW00094746,"WORCESTER, MA US",NaN,0.03,0.0,58.0,41.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-28,USW00094746,"WORCESTER, MA US",17.67,0.00,0.0,7.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-29,USW00094746,"WORCESTER, MA US",12.08,0.00,0.0,8.0,-3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-30,USW00094746,"WORCESTER, MA US",9.62,0.06,0.6,13.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-31,USW00094746,"WORCESTER, MA US",14.32,0.00,0.0,10.0,-2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,USW00094746,"WORCESTER, MA US",13.42,0.00,0.0,8.0,-5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 再次检查并把空行赋值为0

In [38]:
weather.isnull().sum()

气象站         0
名称          0
降雨量     10410
降雪量         2
最高气温     2530
最低气温       10
雾          11
大雾      14240
雷电      19350
冰丸      21839
冰雹      22364
薄冰      22330
尘雾      22007
烟雾      22688
风       19474
大风      22353
薄雾      22721
毛毛雨     20171
冻雨      22140
雨       22631
结冰      15482
下雪      22449
冰雾      19653
dtype: int64

In [39]:
weather.fillna(value = 0, inplace = True)
weather.isnull().sum()

气象站     0
名称      0
降雨量     0
降雪量     0
最高气温    0
最低气温    0
雾       0
大雾      0
雷电      0
冰丸      0
冰雹      0
薄冰      0
尘雾      0
烟雾      0
风       0
大风      0
薄雾      0
毛毛雨     0
冻雨      0
雨       0
结冰      0
下雪      0
冰雾      0
dtype: int64

## 将大雾，雷电，冰雹，大风，结冰，下雪，冰丸认定为极端天气，并赋值将当天的"极端天气"变量赋值为1，否则赋值为0。

In [40]:
def extreme(df):
    if df['大雾'] == 1 or df['雷电'] == 1 or df['冰雹'] == 1 or df['大风'] == 1 or df['结冰'] == 1 or df['下雪'] == 1 or df['冰丸'] == 1:
        return 1
    else:
        return 0
weather['极端天气'] = weather.apply(extreme, axis=1)

In [41]:
weather.to_csv('weather_data_1960-2018_cleaned.csv')